<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 4 - Semantic Web</title>
	</head>

	<body>
		<div class="container">
			<h1 style="font-size:70px">Assignment 4 <small>Semantic Web</small></h1>
			<hr/>
			<h5><b>Student name:</b> Pedro Callado Versiani</h5>
			<h5><b>Student number:</b> 2850207</h5>
			<hr/>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Query</h3>
					<input type="checkbox" id="reasoning" value="true"> Use reasoner</input>
					<p></p>
					<textarea id='query14' class='sparql' style='width: 100%; height:36em;'>
PREFIX :<localhost:8000/lab3/ontology#>

SELECT ?x WHERE {
  ?y a ?z .
  ?y rdfs:label ?x .
}
					
					</textarea>
					<p><br/></p>
					<div><a id="link14" class='btn btn-primary'>Go!</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Results</h3>
					<p><br/></p>
					<div id="linktarget14" class='well' style='height: 36em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div style='height:1080px;'>
				<h3 style='color:gray;'>Explanation for the different results:</h3>
				<p style='font-size:30px'> As seen above, the results for the same query were different depending whether or not the reasoner was used. In the first query, the one that did not use the reasoner, we get as a result only the instances that were asserted as "Food" - that is, only the ones that had been defined manually as a member of the class "Food" on the database. When we activate the reasoner, though, we get much more results. This happens because, in this ontology, the class "Food" is defined as anything that has the property "providesNutrients". Therefore, as every instance of the class "Ingredient" has a property "providesNutrients", the reasoner infers that it is also a member of the class "Food".</p>

			</div>

		</div>



		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/tutorial.js") }}' type='text/javascript'></script>


	</body>
</head>
